.icon-user {
	background-image: url(../ext/examples/shared/icons/fam/user.png) !important;
}

.icon-user-add {
	background-image: url(../ext/examples/shared/icons/fam/user_add.gif) !important;
}

.icon-save {
	background-image: url(../ext/examples/shared/icons/fam/save.gif) !important;
}

.icon-cancel {
	background-image: url(../ext/examples/shared/icons/fam/cross.gif) !important;
}

.icon-stop {
	background-image: url(../ext/examples/shared/icons/fam/stop.png) !important;
}

.icon-grid {
	background-image: url(../ext/examples/shared/icons/fam/grid.png) !important;
}

.icon-add {
	background-image: url(../ext/examples/shared/icons/fam/add.png) !important;
}

.icon-delete {
	background-image: url(../ext/examples/shared/icons/fam/delete.png) !important;
}

.icon_edit {
	background-image: url(../ext/examples/shared/icons/fam/cog_edit.png) !important;
}

.edit {
	background-image: url(../ext/examples/shared/icons/fam/edit.png) !important;
}

.icon-image {
	background-image: url(../ext/examples/shared/icons/fam/image_add.png) !important;
}

.icon-attach {
	background-image: url(../ext/examples/shared/icons/fam/attach.png) !important;
}

.icon-accept {
	background-image: url(../ext/examples/shared/icons/fam/accept.png) !important;
}

.icon-reset {
	background-image: url(../ext/examples/shared/icons/fam/undo_blue.png) !important;
}
.icon-refresh {
	background-image: url(../ext/examples/shared/icons/fam/arrow_refresh.png) !important;
}

.icon-search {
	background-image: url(../ext/examples/shared/icons/fam/search.png) !important;
}

.icon-excel {
	background-image: url(../ext/examples/shared/icons/fam/excel.png) !important;
}

.icon-view {
	background-image: url(../ext/examples/shared/icons/fam/details.gif) !important;
}

.icon-identify {
	background-image: url(../ext/examples/shared/icons/fam/paintbrush.png) !important;
}

.icon-pictures {
	background-image: url(../ext/examples/shared/icons/fam/pictures.png) !important;
}

.icon-disarm {
	background-image: url(../ext/examples/shared/icons/fam/arrow_switch.png) !important;
}

.icon-export {
	background-image: url(../ext/examples/shared/icons/fam/page_copy.png) !important;
}

.icon-expand-all {
	background-image: url(../ext/examples/shared/icons/fam/expand-all.gif) !important;
}

.icon-collapse-all {
	background-image: url(../ext/examples/shared/icons/fam/collapse-all.gif) !important;
}

.icon-table_refresh {
	background-image: url(../ext/examples/shared/icons/fam/table_refresh.png) !important;
}

.icon-application_go {
	background-image: url(../ext/examples/shared/icons/fam/application_go.png) !important;
}

.icon-application_view_list {
	background-image: url(../ext/examples/shared/icons/fam/application_view_list.png) !important;
}

.icon-download {
	background-image: url(../ext/examples/shared/icons/fam/download.png) !important;
}

.icon-book {
	background-image: url(../ext/examples/shared/icons/fam/book.png) !important;
}

.icon-save {
	background-image: url(../ext/examples/shared/icons/fam/saved.png) !important;
}
