<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 -->
<mapper namespace="com.springmvc.dao.UserDao">
    <resultMap id="resultMap" type="com.springmvc.model.User" >
        <result property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="sex" column="sex" />
    </resultMap>

    <select id="findByUsernameAndPwd" resultMap="resultMap">
        SELECT * FROM t_user WHERE username = #{username} AND password = #{password}
    </select>
</mapper>